<!DOCTYPE html>
<html>
	<head>
		<title>slim editor</title>
		<link href="bower_components/sir-trevor-js/sir-trevor.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="bower_components/sir-trevor-js/sir-trevor-icons.css" media="screen" rel="stylesheet" type="text/css" />

		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
	</head>

	<body class="container">
		<header class="page-header">
			<h1>Shiny Little Internet Maker</h1>
		</header>

		<br />

		<form id="editor" action="POST">

		</form>

		<button class="add-colset btn btn-primary" data-colset="1c:12:v0.1">Add Colset (1-Col)</button>
		<button class="add-colset btn btn-primary" data-colset="2c:8-4:v0.1">Add Colset (2-Col)</button>
		<button class="add-colset btn btn-primary" data-colset="3c:4-4-4:v0.1">Add Colset (3-Col)</button>

		<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
		<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/jquery/jquery-migrate.min.js"></script>
		<script type="text/javascript" src="bower_components/Eventable/eventable.js"></script>
		<script type="text/javascript" src="bower_components/sir-trevor-js/sir-trevor.min.js"></script>

		<script>
			var get_colset = function(template, vars){
				switch(template){
					case '1c:12:v0.1':
						return _.template([
							"<fieldset class=\"colset row\" data-i=\"<%= i %>\">",
							"	<input type=\"hidden\" name=\"colset[<%= i %>][type]\" value=\"1c:12:v0.1\" />",
							"	<div class=\"col col-md-12\">",
							" 		<textarea name=\"colset[<%= i %>][col][0]\"></textarea>",
							" 	</div>",
							"</fieldset>"
						].join("\n"));
						break;

					case '2c:8-4:v0.1':
						return _.template([
							"<fieldset class=\"colset row\" data-i=\"<%= i %>\">",
							"	<input type=\"hidden\" name=\"colset[<%= i %>][type]\" value=\"2c:8-4:v0.1\" />",
							"	<div class=\"col col-md-8\">",
							" 		<textarea name=\"colset[<%= i %>][col][0]\"></textarea>",
							" 	</div>",
							" 	<div class=\"col col-md-4\">",
							"		<textarea name=\"colset[<%= i %>][col][1]\"></textarea>",
							"	</div>",
							"</fieldset>"
						].join("\n"));
						break;

					case '3c:4-4-4:v0.1':
						return _.template([
							"<fieldset class=\"colset row\" data-i=\"<%= i %>\">",
							"	<input type=\"hidden\" name=\"colset[<%= i %>][type]\" value=\"3c:4-4-4:v0.1\" />",
							"	<div class=\"col col-md-4\">",
							" 		<textarea name=\"colset[<%= i %>][col][0]\"></textarea>",
							" 	</div>",
							" 	<div class=\"col col-md-4\">",
							"		<textarea name=\"colset[<%= i %>][col][1]\"></textarea>",
							"	</div>",
							" 	<div class=\"col col-md-4\">",
							"		<textarea name=\"colset[<%= i %>][col][2]\"></textarea>",
							"	</div>",
							"</fieldset>"
						].join("\n"));
						break;

					default:
						break;
				} 
			};


			var append_colset = function(template){
				var form = $('#editor');
				var colsets = $('#editor .colset');

				var colset = get_colset(template);
				colset = colset({ i: colsets.length });
				colset = $.parseHTML(colset);

				form.append(colset);	
				$(colset).find('textarea').each(function(){
					new SirTrevor.Editor({ el: $(this) });
				});
			}


			$('.add-colset').click(function(){
				append_colset($(this).attr('data-colset'));
			});

			// $(document).ready(function(){
			// 	append_colset('2c:8-4:v0.1')
			// });
		</script>

		<style type="text/css">
			.col {
				min-height: 20em; 
				border: 2px dashed #c4c4c4; 
			}

			.colset + .colset { 
				margin-top: 1em;
				border-top: none; 
			}

			.col + .col { border-left: none; }

			.add-colset { margin-top: 2em; }


			#editor [data-icon="add"]:before,
			#editor [data-icon-after="add"]:after {
 				display: block;
				font-size: 1.2em;
				color: #c4c4c4;
			}
		</style>
	</body>
</html>